.brandzone{
    display: flex;
    flex-flow: column;
    padding:30px;
    position: relative;

    align-content: center;
    justify-content: center;
    
    &>h2{
        font-size: $fontsize-xxx-large;
        padding: 0;
        margin: 0;
        width: 200px;
        text-align: left;
    }
    
    &>h4{
        font-size: $fontsize-large;
        padding: 0;
        margin: 0 0 80px 0;
        text-align: left;
        font-weight: 400;
        color: $color-quick-silver;
    }

    &>.fondo{
        background-color: $color-coral;
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 0;
        left:  0;
    }

    &>.flecha{
        background-color: $color-flame;
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 15pt;
        left: -10pt;
        display: flex;
        justify-content: center;
        color: $color-white;
        
        &>h2{
            font-size: 5rem;
            text-align: center;
            margin: auto;
        }

    }
}