.infozone{
    display: grid;
    grid-template-columns: 1fr 1fr;

    &>.info{
        height: 80%;
        width: calc(100% - 60px);
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        


        &>h2{
            font-size: $fontsize-xx-large;
            color: $color-black;
        }
        &>p{
            font-size: $fontsize-medium;
            color: $color-black;

        }
    }
    &>.mapa{
        position: relative;

        &>img{
            width: 100%;
            height: 100%;
            position: absolute;
            left: -50px;
            object-fit: contain;
            object-position: center;
        }

        &>.fondomapa{
            height: 70%;
            width: 100%;
            background-color: $color-blue-de-france;
        }
    }
}