.navbar{
    background-color: $color-white;
    max-width: 1200px;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    
    &>.navbar__brandImg{
        height: 60%;
        margin-right: 50px;
    }

    &>.navbar__navigation-zone{
        flex-grow: 1;
        display: flex;
        &>ul{

            display: flex;
            align-items: center;

            &>li{
                padding-left: 20px;
                font-size: $fontsize-medium;
                list-style: none;
                
                &>a{
                    color: $color-spanish-gray;
                    text-decoration: none;
                    
                    &:hover{
                        color: $color-black;

                    }
                }
            }

        }


        &>.navigation-zone__buttons{
            flex-grow: 1;
            display: flex;
            justify-content: end;
            gap: 10px;


            &>.btn{
                height: 40px;
                width: 200px;

                font-size: $fontsize-medium;
                color: $color-spanish-gray;

                background-color: $color-white;

                border: solid 1px $color-spanish-gray;
                
                
                
                &:hover{
                    
                    border: solid 1px $color-black;
                    color: $color-black;
                }
            }

            &>.btn--green{
                background-color: $color-shiny-shamrock;
                color: $color-isabelline;
                
                
                &:hover{
                    border: none;
                    background-color: $color-pastel-gray;
                    color: $color-spanish-gray;
                }
            }
        }

    
    }
}