$color-white : #fff;
$color-isabelline : #eeeded;
$color-spanish-gray : #989797;

$color-coral : #fa824c;
$color-buff : #f1dd7b;
$color-vanilla : #f5e7a1;

$color-flame : #e4572e;
$color-light-red-ochre : #e4572e;
$color-pastel-pink : #e4572e;

$color-shiny-shamrock : #4ca866;
$color-turquoise-green : #9dcfab;
$color-pastel-gray : #bddfc7;

$color-blue-de-france : #3c91e6;
$color-blue-jeans : #5fa5ea;
$color-jordy-blue : #82b9ef;

$color-black : #000;
$color-outer-space :#454545;
$color-quick-silver : #a2a2a2;


// #######################################################################
// #######################################################################
// #######################################################################

$fontsize-xxx-large: 70px;
$fontsize-xx-large: 40px;
$fontsize-x-large: 30px;
$fontsize-large: 18px;
$fontsize-medium: 16px;