@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Mono&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.ff-ptmono {
  font-family: "PT Mono", monospace;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 400px 300px;
}

.navbar {
  background-color: #fff;
  max-width: 1200px;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar > .navbar__brandImg {
  height: 60%;
  margin-right: 50px;
}
.navbar > .navbar__navigation-zone {
  flex-grow: 1;
  display: flex;
}
.navbar > .navbar__navigation-zone > ul {
  display: flex;
  align-items: center;
}
.navbar > .navbar__navigation-zone > ul > li {
  padding-left: 20px;
  font-size: 16px;
}
.navbar > .navbar__navigation-zone > ul > li > a {
  color: #989797;
  text-decoration: none;
}
.navbar > .navbar__navigation-zone > ul > li > a:hover {
  color: #000;
}
.navbar > .navbar__navigation-zone > .navigation-zone__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.navbar > .navbar__navigation-zone > .navigation-zone__buttons > .btn {
  height: 40px;
  width: 200px;
  font-size: 16px;
  color: #989797;
  background-color: #fff;
  border: solid 1px #989797;
}
.navbar > .navbar__navigation-zone > .navigation-zone__buttons > .btn:hover {
  border: solid 1px #000;
  color: #000;
}
.navbar > .navbar__navigation-zone > .navigation-zone__buttons > .btn--green {
  background-color: #4ca866;
  color: #eeeded;
}
.navbar > .navbar__navigation-zone > .navigation-zone__buttons > .btn--green:hover {
  border: none;
  background-color: #bddfc7;
  color: #989797;
}

.cartafoto {
  background: url(/assets/images/img-1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.cartafoto > .cartafoto__whiteblock {
  display: flex;
  flex-direction: row-reverse;
  height: 120px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cartafoto > .cartafoto__whiteblock > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  max-width: 200px;
}
.cartafoto > .cartafoto__whiteblock > div > h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
.cartafoto > .cartafoto__whiteblock > div > p {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.brandzone {
  display: flex;
  flex-flow: column;
  padding: 30px;
  position: relative;
  align-content: center;
  justify-content: center;
}
.brandzone > h2 {
  font-size: 70px;
  padding: 0;
  margin: 0;
  width: 200px;
  text-align: left;
}
.brandzone > h4 {
  font-size: 18px;
  padding: 0;
  margin: 0 0 80px 0;
  text-align: left;
  font-weight: 400;
  color: #a2a2a2;
}
.brandzone > .fondo {
  background-color: #eacb31;
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.brandzone > .flecha {
  background-color: #e4572e;
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: 15pt;
  left: -10pt;
  display: flex;
  justify-content: center;
  color: #fff;
}
.brandzone > .flecha > h2 {
  font-size: 5rem;
  text-align: center;
  margin: auto;
}

.cartaFotoSecundaria {
  background: url(/assets/images/img-2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.cartaFotoSecundaria > img {
  height: 150pt;
  width: 70pt;
  object-fit: cover;
  object-position: 40% 50%;
  position: absolute;
  top: 0;
  left: -35px;
}

.infozone {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infozone > .info {
  height: 80%;
  width: calc(100% - 60px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infozone > .info > h2 {
  font-size: 40px;
  color: #000;
}
.infozone > .info > p {
  font-size: 16px;
  color: #000;
}
.infozone > .mapa {
  position: relative;
}
.infozone > .mapa > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -50px;
  object-fit: contain;
  object-position: center;
}
.infozone > .mapa > .fondomapa {
  height: 70%;
  width: 100%;
  background-color: #3c91e6;
}

/*# sourceMappingURL=style.css.map */
